html
    head
        title jade template
    body
        form(method="post")
            label text
            input(type="text", name="text")
            input(type="checkbox", name="checkbox")
            input(type="checkbox", name="checkbox")
            textarea(name="hello") hello
            input(type="radio", value="1", name="yes") yes
            input(type="radio", value="1", name="yes") no
            button(type="submit") submit
